# Dependencias de Node.js y Monorepo
node_modules/
.npm
/dist
/build
.turbo

# Variables de Entorno (CRÍTICO)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Docker
.docker
**/node_modules/

# Terraform (según tu captura de pantalla)
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform.tfvars
*.tfvars.json

# Logs y Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs
*.log
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Editor y SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions